<app-test-api></app-test-api>
<h2 style="text-align: center">{{greetMessage}}</h2>
<hr>

<input type="text" (input)="updateValue($event)" /> 
<hr>
<P>The two data is :   {{twoWayData}}</P>

<hr>
<app-example-ng-for></app-example-ng-for>

<hr>
<app-example-service></app-example-service>
<hr>
<p>Navigaction starts </p>

<a routerLink='/home'>Go to home page</a>
<br>
<a routerLink="/customePipe">View the CustomePipe</a>
<br>
<a routerLink="/ngIfExample">NgIF Example</a>
<br>
<a routerLink="/ngNonBindable">ngNonBindable Example</a>
<br>
<a routerLink="/customeDirective"> My customeDirective</a>
<hr>
<h2 style="text-align: center">Router Content displayed here</h2>
